<div class="wizard">
    <div class="wizard-top">
        <ng-content select="[wizard-top]"></ng-content>
    </div>
    <hr>

    <div class="wizard-main">

        <div class="wizard__label">
        <ng-container *ngFor="let node of nodes; let idx=index">
                <label [ngClass]="{'hidden': (activeNode.idx) != idx}" class="wizard__label-value">
                    {{node.description}}
                </label>
        </ng-container>
        </div>

        <ng-container *ngFor="let node of nodes; let idx=index">
            <img 
            [ngClass]="{'highlight' : (activeNode.idx == idx)}"
            [src]='node.image_url' 
            class="wizard__button">
        </ng-container>
    </div>

    <div>
        <label class="wizard-arrow">^</label>
        <hr>
    </div>

    <div class="wizard-bottom">
        <ng-content select="[wizard-bottom]"></ng-content>
    </div>

    <div class="wizard-bottom-buttons">
        <button (click)='onPrev()' class="wizard__button--prev">Prev</button>
        <button (click)='onNext()' class="wizard__button--next">Next</button>
    </div>

</div>