<div>
    <div class="wizard-top">
        <ng-content select="[wizard-top]"></ng-content>
    </div>

    <div class="wizard-main">
        <div class="wizard__label">
            <label class="wizard__label-value">This</label>
        </div>
        <ng-container *ngFor="let node of nodes; let idx=index">
            <img (click)='selectNodeOnClick(idx)' width='20' height="20" [src]='node.image_url' class="wizard__button">
        </ng-container>
    </div>

    <div>
        <label class="wizard-arrow">^</label>
        <hr>
    </div>

    <div class="wizard-bottom">
        <ng-content select="[wizard-bottom]"></ng-content>
    </div>

    <div class="wizard-bottom-buttons">
        <button (click)='onPrev()' class="wizard__button--prev">Prev</button>
        <button (click)='onNext()' class="wizard__button--next">Next</button>
    </div>

</div>